openapi: 3.2.0
info:
  title: Zoho Invoice Credit Notes API
  description: REST API for Zoho Invoice, covering contacts, invoices, estimates, and credit notes.
  version: v3
servers:
- url: https://www.zohoapis.com/invoice/v3
  description: Production (US data center; regional domains include .eu, .in, .com.au, .jp, .ca, .com.cn, .sa)
security:
- ZohoOAuth: []
tags:
- name: Credit Notes
paths:
  /credit-notes:
    get:
      summary: List credit notes
      operationId: listCreditNotes
      responses:
        '200':
          description: OK
      tags:
      - Credit Notes
    post:
      summary: Create a credit note
      operationId: createCreditNote
      responses:
        '201':
          description: Created
      tags:
      - Credit Notes
  /credit-notes/{creditnote_id}:
    parameters:
    - name: creditnote_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Retrieve a credit note
      operationId: getCreditNote
      responses:
        '200':
          description: OK
      tags:
      - Credit Notes
    put:
      summary: Update a credit note
      operationId: updateCreditNote
      responses:
        '200':
          description: OK
      tags:
      - Credit Notes
    delete:
      summary: Delete a credit note
      operationId: deleteCreditNote
      responses:
        '200':
          description: OK
      tags:
      - Credit Notes
components:
  securitySchemes:
    ZohoOAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'OAuth 2.0 access token sent as ''Authorization: Zoho-oauthtoken {access_token}''. An Organization ID header is also required.'
