openapi: 3.2.0
info:
  title: Zoho Invoice Contacts API
  description: REST API for Zoho Invoice, covering contacts, invoices, estimates, and credit notes.
  version: v3
servers:
- url: https://www.zohoapis.com/invoice/v3
  description: Production (US data center; regional domains include .eu, .in, .com.au, .jp, .ca, .com.cn, .sa)
security:
- ZohoOAuth: []
tags:
- name: Contacts
paths:
  /contacts:
    get:
      summary: List contacts
      operationId: listContacts
      responses:
        '200':
          description: OK
      tags:
      - Contacts
    post:
      summary: Create a contact
      operationId: createContact
      responses:
        '201':
          description: Created
      tags:
      - Contacts
  /contacts/{contact_id}:
    parameters:
    - name: contact_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Retrieve a contact
      operationId: getContact
      responses:
        '200':
          description: OK
      tags:
      - Contacts
    put:
      summary: Update a contact
      operationId: updateContact
      responses:
        '200':
          description: OK
      tags:
      - Contacts
    delete:
      summary: Delete a contact
      operationId: deleteContact
      responses:
        '200':
          description: OK
      tags:
      - Contacts
  /contacts/{contact_id}/portal:
    post:
      summary: Enable portal access for a contact
      operationId: enableContactPortal
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Contacts
components:
  securitySchemes:
    ZohoOAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'OAuth 2.0 access token sent as ''Authorization: Zoho-oauthtoken {access_token}''. An Organization ID header is also required.'
